In [1]:
import pandas as pd   #to create dataframe
import requests       #to send the request to the URL
from bs4 import BeautifulSoup #to get the content in the form of HTML
import numpy as np
import imdb 
import nltk
import seaborn

In [2]:
film_name=input('het film')
ia = imdb.IMDb()

search = ia.search_movie(film_name)
id = search[0].movieID

het filmThe Godfather

In [3]:
print(id)

0068646

In [4]:
comments = []
rating_per_comment = []
for i in range(10):
    #assigning the URL with variable name url
    url = 'https://www.imdb.com/title/tt'+id+'/reviews?sort=curated&dir=desc&ratingFilter={}'.format(i)
    #request allow you to send HTTP request
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    #movie_data : comments
    movie_data = soup.findAll('a', attrs= {'class': 'title'})
    #rating : rating of the comments
    rating = soup.findAll('span' , attrs= {'class' : 'rating-other-user-rating'})
    for ratings in rating:
        rating_per_comments = ratings.span.text
        rating_per_comment.append(rating_per_comments)
    for comment in movie_data:   
        comments.append(comment.text.replace('\n',''))

In [5]:
review = pd.DataFrame({'comment' : comments})

In [6]:
review.head()

                                comment
0       The Pinnacle Of Flawless Films!
1   An offer so good, I couldn't refuse
2   For Me, This Is The Definitive Film
3                        An Iconic Film
4       The greatest movie of all time!

In [7]:
review.reset_index().rename(columns={'index':'id'})

      id                               comment
0      0       The Pinnacle Of Flawless Films!
1      1   An offer so good, I couldn't refuse
2      2   For Me, This Is The Definitive Film
3      3                        An Iconic Film
4      4       The greatest movie of all time!
..   ...                                   ...
244  244            This movie is amazing!!!!!
245  245   In the dictionary under masterpiece
246  246       not the godfather of all movies
247  247                    IT'S JUST TOO LONG
248  248                     A novel of images

[249 rows x 2 columns]

In [8]:
review.shape

(249, 1)

In [9]:
exemple=review['comment'][0]
tokens=nltk.word_tokenize(exemple)

In [10]:
nltk.pos_tag(tokens)

[('The', 'DT'),
 ('Pinnacle', 'NNP'),
 ('Of', 'IN'),
 ('Flawless', 'NNP'),
 ('Films', 'NNP'),
 ('!', '.')]

In [11]:
from nltk.sentiment import SentimentIntensityAnalyzer 
from tqdm.notebook import tqdm
sia=SentimentIntensityAnalyzer()

In [12]:
sia.polarity_scores(exemple)

{'neg': 0.0, 'neu': 0.527, 'pos': 0.473, 'compound': 0.5562}

In [13]:
res={}
for i,row in tqdm(review.iterrows(),total=len(review)):
    text=row['comment']
    res[i]=sia.polarity_scores(text)

  0%|          | 0/249 [00:00<?, ?it/s]

In [14]:
res

{0: {'neg': 0.0, 'neu': 0.527, 'pos': 0.473, 'compound': 0.5562},
 1: {'neg': 0.0, 'neu': 0.404, 'pos': 0.596, 'compound': 0.7089},
 2: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 3: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 4: {'neg': 0.0, 'neu': 0.527, 'pos': 0.473, 'compound': 0.6696},
 5: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 6: {'neg': 0.0, 'neu': 0.878, 'pos': 0.122, 'compound': 0.2714},
 7: {'neg': 0.099, 'neu': 0.634, 'pos': 0.268, 'compound': 0.5267},
 8: {'neg': 0.0, 'neu': 0.588, 'pos': 0.412, 'compound': 0.6369},
 9: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 10: {'neg': 0.0, 'neu': 0.507, 'pos': 0.493, 'compound': 0.8934},
 11: {'neg': 0.305, 'neu': 0.695, 'pos': 0.0, 'compound': -0.3875},
 12: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 13: {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.5719},
 14: {'neg': 0.337, 'neu': 0.288, 'pos': 0.375, 'compound': 0.1027},
 15: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 16: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 17: {'neg': 0.0, 'neu': 0.648, 'pos': 0.352, 'compound': 0.7174},
 18: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 19: {'neg': 0.0, 'neu': 0.728, 'pos': 0.272, 'compound': 0.6249},
 20: {'neg': 0.0, 'neu': 0.208, 'pos': 0.792, 'compound': 0.5859},
 21: {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.6249},
 22: {'neg': 0.0, 'neu': 0.323, 'pos': 0.677, 'compound': 0.6369},
 23: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 24: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 25: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 26: {'neg': 0.0, 'neu': 0.81, 'pos': 0.19, 'compound': 0.3291},
 27: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 28: {'neg': 0.0, 'neu': 0.488, 'pos': 0.512, 'compound': 0.7384},
 29: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 30: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 31: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 32: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 33: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 34: {'neg': 0.286, 'neu': 0.714, 'pos': 0.0, 'compound': -0.25},
 35: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 36: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 37: {'neg': 0.479, 'neu': 0.413, 'pos': 0.107, 'compound': -0.6705},
 38: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 39: {'neg': 0.535, 'neu': 0.465, 'pos': 0.0, 'compound': -0.3182},
 40: {'neg': 0.0, 'neu': 0.323, 'pos': 0.677, 'compound': 0.6369},
 41: {'neg': 0.422, 'neu': 0.578, 'pos': 0.0, 'compound': -0.2942},
 42: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 43: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 44: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 45: {'neg': 1.0, 'neu': 0.0, 'pos': 0.0, 'compound': -0.5707},
 46: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 47: {'neg': 0.75, 'neu': 0.25, 'pos': 0.0, 'compound': -0.4588},
 48: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 49: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 50: {'neg': 1.0, 'neu': 0.0, 'pos': 0.0, 'compound': -0.0772},
 51: {'neg': 0.667, 'neu': 0.333, 'pos': 0.0, 'compound': -0.25},
 52: {'neg': 0.268, 'neu': 0.732, 'pos': 0.0, 'compound': -0.296},
 53: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 54: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 55: {'neg': 0.376, 'neu': 0.624, 'pos': 0.0, 'compound': -0.3412},
 56: {'neg': 0.377, 'neu': 0.623, 'pos': 0.0, 'compound': -0.2057},
 57: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 58: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 59: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 60: {'neg': 0.0, 'neu': 0.472, 'pos': 0.528, 'compound': 0.7717},
 61: {'neg': 1.0, 'neu': 0.0, 'pos': 0.0, 'compound': -0.1027},
 62: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 63: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 64: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 65: {'neg': 0.508, 'neu': 0.492, 'pos': 0.0, 'compound': -0.4767},
 66: {'neg': 0.608, 'neu': 0.392, 'pos': 0.0, 'compound': -0.4767},
 67: {'neg': 0.722, 'neu': 0.278, 'pos': 0.0, 'compound': -0.3818},
 68: {'neg': 0.608, 'neu': 0.392, 'pos': 0.0, 'compound': -0.4767},
 69: {'neg': 0.697, 'neu': 0.303, 'pos': 0.0, 'compound': -0.3182},
 70: {'neg': 0.0, 'neu': 0.464, 'pos': 0.536, 'compound': 0.3527},
 71: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 72: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 73: {'neg': 0.413, 'neu': 0.587, 'pos': 0.0, 'compound': -0.2755},
 74: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 75: {'neg': 0.0, 'neu': 0.625, 'pos': 0.375, 'compound': 0.4588},
 76: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 77: {'neg': 0.0, 'neu': 0.758, 'pos': 0.242, 'compound': 0.4927},
 78: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 79: {'neg': 0.178, 'neu': 0.698, 'pos': 0.124, 'compound': -0.1779},
 80: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 81: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 82: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 83: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 84: {'neg': 1.0, 'neu': 0.0, 'pos': 0.0, 'compound': -0.3182},
 85: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 86: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 87: {'neg': 0.426, 'neu': 0.574, 'pos': 0.0, 'compound': -0.242},
 88: {'neg': 0.622, 'neu': 0.378, 'pos': 0.0, 'compound': -0.5096},
 89: {'neg': 0.0, 'neu': 0.435, 'pos': 0.565, 'compound': 0.3818},
 90: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 91: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 92: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 93: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 94: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 95: {'neg': 1.0, 'neu': 0.0, 'pos': 0.0, 'compound': -0.4939},
 96: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 97: {'neg': 0.31, 'neu': 0.282, 'pos': 0.408, 'compound': 0.1779},
 98: {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.3182},
 99: {'neg': 0.0, 'neu': 0.437, 'pos': 0.563, 'compound': 0.3774},
 100: {'neg': 0.294, 'neu': 0.706, 'pos': 0.0, 'compound': -0.3612},
 101: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 102: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 103: {'neg': 0.397, 'neu': 0.603, 'pos': 0.0, 'compound': -0.5096},
 104: {'neg': 0.0, 'neu': 0.803, 'pos': 0.197, 'compound': 0.4019},
 105: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 106: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 107: {'neg': 0.688, 'neu': 0.312, 'pos': 0.0, 'compound': -0.296},
 108: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 109: {'neg': 0.25, 'neu': 0.75, 'pos': 0.0, 'compound': -0.25},
 110: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 111: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 112: {'neg': 0.0, 'neu': 0.0, 'pos': 0.0, 'compound': 0.0},
 113: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 114: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 115: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 116: {'neg': 0.0, 'neu': 0.653, 'pos': 0.347, 'compound': 0.4927},
 117: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 118: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 119: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 120: {'neg': 0.565, 'neu': 0.435, 'pos': 0.0, 'compound': -0.5994},
 121: {'neg': 0.386, 'neu': 0.372, 'pos': 0.242, 'compound': -0.2867},
 122: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 123: {'neg': 0.0, 'neu': 0.545, 'pos': 0.455, 'compound': 0.3612},
 124: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 125: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 126: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 127: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 128: {'neg': 0.34, 'neu': 0.413, 'pos': 0.247, 'compound': -0.2266},
 129: {'neg': 0.394, 'neu': 0.606, 'pos': 0.0, 'compound': -0.6759},
 130: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 131: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 132: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 133: {'neg': 0.0, 'neu': 0.81, 'pos': 0.19, 'compound': 0.3291},
 134: {'neg': 0.256, 'neu': 0.744, 'pos': 0.0, 'compound': -0.3412},
 135: {'neg': 0.312, 'neu': 0.688, 'pos': 0.0, 'compound': -0.2057},
 136: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 137: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 138: {'neg': 0.369, 'neu': 0.631, 'pos': 0.0, 'compound': -0.6249},
 139: {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.4215},
 140: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 141: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 142: {'neg': 0.396, 'neu': 0.604, 'pos': 0.0, 'compound': -0.3875},
 143: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 144: {'neg': 0.0, 'neu': 0.599, 'pos': 0.401, 'compound': 0.6145},
 145: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 146: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 147: {'neg': 0.18, 'neu': 0.67, 'pos': 0.149, 'compound': -0.1531},
 148: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 149: {'neg': 0.0, 'neu': 0.631, 'pos': 0.369, 'compound': 0.6249},
 150: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 151: {'neg': 0.0, 'neu': 0.588, 'pos': 0.412, 'compound': 0.6369},
 152: {'neg': 0.547, 'neu': 0.453, 'pos': 0.0, 'compound': -0.3875},
 153: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 154: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 155: {'neg': 0.0, 'neu': 0.221, 'pos': 0.779, 'compound': 0.7941},
 156: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 157: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 158: {'neg': 0.412, 'neu': 0.588, 'pos': 0.0, 'compound': -0.2732},
 159: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 160: {'neg': 0.0, 'neu': 0.5, 'pos': 0.5, 'compound': 0.25},
 161: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 162: {'neg': 0.0, 'neu': 0.682, 'pos': 0.318, 'compound': 0.1027},
 163: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 164: {'neg': 0.0, 'neu': 0.265, 'pos': 0.735, 'compound': 0.6754},
 165: {'neg': 0.182, 'neu': 0.432, 'pos': 0.386, 'compound': 0.5106},
 166: {'neg': 0.0, 'neu': 0.822, 'pos': 0.178, 'compound': 0.0772},
 167: {'neg': 0.294, 'neu': 0.523, 'pos': 0.183, 'compound': -0.3111},
 168: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 169: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 170: {'neg': 0.0, 'neu': 0.606, 'pos': 0.394, 'compound': 0.2382},
 171: {'neg': 0.0, 'neu': 0.58, 'pos': 0.42, 'compound': 0.4404},
 172: {'neg': 0.662, 'neu': 0.338, 'pos': 0.0, 'compound': -0.2411},
 173: {'neg': 1.0, 'neu': 0.0, 'pos': 0.0, 'compound': -0.0772},
 174: {'neg': 0.42, 'neu': 0.58, 'pos': 0.0, 'compound': -0.4404},
 175: {'neg': 0.305, 'neu': 0.695, 'pos': 0.0, 'compound': -0.3875},
 176: {'neg': 0.0, 'neu': 0.506, 'pos': 0.494, 'compound': 0.2382},
 177: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 178: {'neg': 0.662, 'neu': 0.338, 'pos': 0.0, 'compound': -0.2411},
 179: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 180: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 181: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 182: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 183: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 184: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 185: {'neg': 0.0, 'neu': 0.833, 'pos': 0.167, 'compound': 0.2498},
 186: {'neg': 0.0, 'neu': 0.256, 'pos': 0.744, 'compound': 0.4404},
 187: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 188: {'neg': 0.32, 'neu': 0.68, 'pos': 0.0, 'compound': -0.5096},
 189: {'neg': 0.0, 'neu': 0.606, 'pos': 0.394, 'compound': 0.2382},
 190: {'neg': 0.0, 'neu': 0.426, 'pos': 0.574, 'compound': 0.4019},
 191: {'neg': 0.126, 'neu': 0.42, 'pos': 0.455, 'compound': 0.6908},
 192: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 193: {'neg': 0.184, 'neu': 0.816, 'pos': 0.0, 'compound': -0.3089},
 194: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 195: {'neg': 0.622, 'neu': 0.378, 'pos': 0.0, 'compound': -0.5096},
 196: {'neg': 0.219, 'neu': 0.325, 'pos': 0.455, 'compound': 0.5621},
 197: {'neg': 0.0, 'neu': 0.408, 'pos': 0.592, 'compound': 0.4404},
 198: {'neg': 0.0, 'neu': 0.312, 'pos': 0.688, 'compound': 0.765},
 199: {'neg': 0.0, 'neu': 0.728, 'pos': 0.272, 'compound': 0.6249},
 200: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 201: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 202: {'neg': 0.412, 'neu': 0.588, 'pos': 0.0, 'compound': -0.5423},
 203: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 204: {'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404},
 205: {'neg': 0.0, 'neu': 0.514, 'pos': 0.486, 'compound': 0.4295},
 206: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 207: {'neg': 0.0, 'neu': 0.387, 'pos': 0.613, 'compound': 0.8374},
 208: {'neg': 0.0, 'neu': 0.476, 'pos': 0.524, 'compound': 0.5106},
 209: {'neg': 0.262, 'neu': 0.314, 'pos': 0.424, 'compound': 0.1406},
 210: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 211: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 212: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 213: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 214: {'neg': 0.0, 'neu': 0.589, 'pos': 0.411, 'compound': 0.4201},
 215: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 216: {'neg': 0.171, 'neu': 0.684, 'pos': 0.145, 'compound': -0.0779},
 217: {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.4404},
 218: {'neg': 0.0, 'neu': 0.566, 'pos': 0.434, 'compound': 0.3182},
 219: {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.5719},
 220: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 221: {'neg': 0.0, 'neu': 0.263, 'pos': 0.737, 'compound': 0.4215},
 222: {'neg': 0.0, 'neu': 0.256, 'pos': 0.744, 'compound': 0.4404},
 223: {'neg': 0.0, 'neu': 0.357, 'pos': 0.643, 'compound': 0.5574},
 224: {'neg': 0.337, 'neu': 0.288, 'pos': 0.375, 'compound': 0.1027},
 225: {'neg': 0.0, 'neu': 0.488, 'pos': 0.512, 'compound': 0.6369},
 226: {'neg': 0.0, 'neu': 0.543, 'pos': 0.457, 'compound': 0.6369},
 227: {'neg': 0.0, 'neu': 0.827, 'pos': 0.173, 'compound': 0.2235},
 228: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 229: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 230: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 231: {'neg': 0.085, 'neu': 0.302, 'pos': 0.614, 'compound': 0.8677},
 232: {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.7845},
 233: {'neg': 0.172, 'neu': 0.686, 'pos': 0.142, 'compound': -0.1531},
 234: {'neg': 0.0, 'neu': 0.704, 'pos': 0.296, 'compound': 0.4191},
 235: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 236: {'neg': 0.0, 'neu': 0.709, 'pos': 0.291, 'compound': 0.6249},
 237: {'neg': 0.0, 'neu': 0.722, 'pos': 0.278, 'compound': 0.5927},
 238: {'neg': 0.0, 'neu': 0.791, 'pos': 0.209, 'compound': 0.3919},
 239: {'neg': 0.0, 'neu': 0.0, 'pos': 1.0, 'compound': 0.5719},
 240: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 241: {'neg': 0.386, 'neu': 0.407, 'pos': 0.207, 'compound': -0.4939},
 242: {'neg': 0.0, 'neu': 0.588, 'pos': 0.412, 'compound': 0.6369},
 243: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 244: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 245: {'neg': 0.0, 'neu': 0.494, 'pos': 0.506, 'compound': 0.6249},
 246: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 247: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0},
 248: {'neg': 0.0, 'neu': 0.465, 'pos': 0.535, 'compound': 0.3182}}

In [15]:
pd.DataFrame(res).T
vaders=pd.DataFrame(res).T

In [16]:
vader=vaders.reset_index().rename(columns={'index':'id'})

In [17]:
vader

      id  neg    neu    pos  compound
0      0  0.0  0.527  0.473    0.5562
1      1  0.0  0.404  0.596    0.7089
2      2  0.0  1.000  0.000    0.0000
3      3  0.0  1.000  0.000    0.0000
4      4  0.0  0.527  0.473    0.6696
..   ...  ...    ...    ...       ...
244  244  0.0  1.000  0.000    0.0000
245  245  0.0  0.494  0.506    0.6249
246  246  0.0  1.000  0.000    0.0000
247  247  0.0  1.000  0.000    0.0000
248  248  0.0  0.465  0.535    0.3182

[249 rows x 5 columns]

In [18]:
review

                                  comment
0         The Pinnacle Of Flawless Films!
1     An offer so good, I couldn't refuse
2     For Me, This Is The Definitive Film
3                          An Iconic Film
4         The greatest movie of all time!
..                                    ...
244            This movie is amazing!!!!!
245   In the dictionary under masterpiece
246       not the godfather of all movies
247                    IT'S JUST TOO LONG
248                     A novel of images

[249 rows x 1 columns]

In [20]:
res=review.join(vader['compound'])

In [21]:
res

                                  comment  compound
0         The Pinnacle Of Flawless Films!    0.5562
1     An offer so good, I couldn't refuse    0.7089
2     For Me, This Is The Definitive Film    0.0000
3                          An Iconic Film    0.0000
4         The greatest movie of all time!    0.6696
..                                    ...       ...
244            This movie is amazing!!!!!    0.0000
245   In the dictionary under masterpiece    0.6249
246       not the godfather of all movies    0.0000
247                    IT'S JUST TOO LONG    0.0000
248                     A novel of images    0.3182

[249 rows x 2 columns]

In [23]:
res.to_csv("resultat.csv")